<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  

    <link rel="stylesheet" href="../static/css/style.css">


    <title>CareerSaga</title>
  </head>
    <header>
      <nav class="navbar navbar-expand-lg  navbar-light ">
        <h1>CarrerSaga</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link active" href="applicant.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="job.html">Job</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                Tests
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="index.html">Aptitude Test</a>
                <a class="dropdown-item" href="careertest.html">Career Test</a>
                <a class="dropdown-item" href="personalitytest.html">Personality Test</a>
              </div>
            </li>
  
          </ul>
          <button  type="button" class="btn btn-danger btn mt-2" onclick="location.href = 'applogin.html';">Logout</button>
          <button id="profile" type="button" class="btn btn-dark btn-sm" onclick="location.href = 'appprofile.html';"><i class="fas fa-user-circle fa-2x" ></i></button>
        </div>
      </nav>
      </header>
      <body>


       <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/images/img3.jpg" class="d-block w-100" alt="Photo by Thought Catalog on Unsplash">
      <div class="carousel-caption  container-fluid" id="first">
        <h4>Welcome to CareerSaga <br> Your Career Journey Starts Here</h4>
        
      </div>
    </div>
    
  </div>
  
</div>
           
      <div class="container-fluid" >
        <p>User Dashboard </p>
      <div class="row ">
        <div class="card column " >
        <img src="../static/images/img5.jpg" class="card-img-top" alt="Photo by Chris Liverani on Unsplash">
        <div class="card-body  " >
          <h5 class="card-title">Aptitude Test</h5>
          <p class="card-text">Take an Aptitude test and get your aptitude score now.</p>
          <a href="index.html" class="btn btn-primary">Aptitude Test</a>
        </div>
        </div>
        <div class="card column " >
        <img src="../static/images/img9.jpg" class="card-img-top" alt="Photo on Unsplash">
        <div class="card-body">
          <h5 class="card-title">Career Test</h5>
          <p class="card-text">Take a Career test and get your predicted career interest now.</p>
          <a href="careertest.html" class="btn btn-primary">Career Test</a>
        </div>
        </div>
          <div class="card column  " >
        <img src="../static/images/img10.jpg" class="card-img-top" alt="Photo by Markus Winkler on Unsplash">
        <div class="card-body">
          <h5 class="card-title">Personality Test</h5>
          <p class="card-text">Take a Personality test and get your predicted personality.</p>
          <a href="personalitytest.html" class="btn btn-primary">Personality Test</a>
        </div>
      </div>
      <div class="card column " >
        <img src="../static/images/img7.jpg" class="card-img-top" alt="Photo by Marten Bjork on Unsplash">
        <div class="card-body">
          <h5 class="card-title">Job</h5>
          <p class="card-text">Looking for a job? Your search ends here, Apply now for a job.</p>
          <a href="#" class="btn btn-primary">Job</a>
        </div>
      </div>

        </div>
      
      </div>




     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f466345e12.js" crossorigin="anonymous"></script>
  </body>
</html>