<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style1.css">


    <title>CareerSaga</title>
  </head>
    <header>
    <nav class="navbar navbar-expand-lg  navbar-light ">
        <h1>CarrerSaga</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="jobnotice.html">Job Notice</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="shortlist.html">Shortlist</a>
            </li>
          </ul>
          <button  type="button" class="btn btn-danger btn mt-2" onclick="location.href = 'applogin.html';">Logout</button>
          <button id="profile" type="button" class="btn btn-dark btn-sm" onclick="location.href = 'recprofile.html';"><i class="fas fa-user-circle fa-2x" ></i></button>
        </div>
      </nav>
      </header>
      <body>


       <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/images/img11.jpg" class="d-block w-100" alt='Photo by Hunters Race on Unsplash'>
      <div class="carousel-caption  container-fluid" id="first">
        <h4>Welcome to CareerSaga <br> We made Recruitment Easy</h4>
        
      </div>
    </div>
    
  </div>
  
</div>
           
      <div class="container-fluid" >
        <p>Recruiter Dashboard </p>
      <div class="row">
        <div class="card column   " >
        <img src="../static/images/img15.jpg" class="card-img-top" alt="Photo by Sigmund on Unsplash">
        <div class="card-body">
          <h5 class="card-title">Job Notice</h5>
          <p class="card-text">Create a job notice for a vacancies now, so applicants can apply.</p>
          <a href="jobnotice.html" class="btn btn-primary">Job Notice</a>
        </div>
        </div>
        <div class="card column " >
        <img src="../static/images/img16.jpg" class="card-img-top" alt="Photo by Nathan Dumlao on Unsplash">
        <div class="card-body">
          <h5 class="card-title">Shortlist</h5>
          <p class="card-text">See the shortlisted candidates our system generated.</p>
          <a href="shortlist.html" class="btn btn-primary">Shortlist</a>
        </div>
        </div>

        </div>
      
      </div>



      </body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f466345e12.js" crossorigin="anonymous"></script>
  </body>
</html>